.aboutbackground {
  margin-top: 7vw;
  background-color: white;
  padding-bottom: 7vw;
  margin-right: -1vw;
  margin-left: -1vw;
}

.aboutmaintext {
  text-align: center;
  color: black;
  padding-top: 2vw;
  margin-bottom: 4vw;
  font-family: "Roboto", sans-serif;
  font-size: 2.5vw;
}

.aboutsmalltexts {
  text-align: center;
  margin-left: 8vw;

  font-family: "Roboto", sans-serif;
  color: black;
  white-space: nowrap;
  font-size: 1.2vw;
}

.oneline {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.aboutfishshop {
  height: 30vw;
  margin-right: 2vw;
  margin-left: 8vw;
}

.aboutsmalltext {
}
