.oneline2 {
  display: flex;
  flex-direction: row;
}

.contactcolumn1 {
  margin-left: 20vw;
  display: flex;
  flex-direction: column;
}

.contactcolumn2 {
  margin-left: 30vw;
  display: flex;
  flex-direction: column;
}

.contactbackground {
  background-color: white;
  margin-left: -1vw;
  margin-right: -1vw;
  height: 50vw;
}

.contactmaintext {
  text-align: center;
  margin-bottom: 5vw;
  padding-top: 3vw;
  font-family: "Roboto", sans-serif;
  font-size: 2.5vw;
}

.contactcolumn1maintext {
  font-family: "Roboto", sans-serif;
  font-size: 1.5vw;
  color: black;
}

.contactcolumn1smalltext {
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
  color: black;
}

.contactcolumn2maintext {
  font-family: "Roboto", sans-serif;
  font-size: 1.5vw;
  color: black;
}

.contactcolumn2smalltext {
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
  color: black;
}

.contactformlabel {
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
  color: black;
}
.contactforminput {
  margin-bottom: 5vw;
}
