.productbackground {
  background-color: rgb(57, 57, 226);
  height: 40vw;
}

.productmaintext {
  text-align: center;
  color: white;
  padding-top: 2vw;
  margin-bottom: 5vw;
  font-family: "Roboto", sans-serif;
  font-size: 2.5vw;
}

.productlist {
  display: flex;
  flex-direction: row;
}
