.productitemkep {
  height: 10vw;
}

.productitemwrapper {
  background-color: white;
  display: flex;
  padding: 2vw;
  flex-direction: column;
  border-radius: 0.5vw;
  text-align: center;
  margin-left: 3vw;
  margin-right: 2.5vw;
}

.productitemmaintext {
  font-family: "Roboto", sans-serif;
  font-size: 2vw;
  color: black;
  margin-bottom: 2vw;
}

.productitemsmalltext {
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
  color: black;
}
